venv/
*.dat
*.o
.ipynb_checkpoints/
*.swp
TDSESolver*
lib/
build/
__pycache__/
.DS_Store
a.out
test*
data/
data.txt
data.txt.bak
out_*
!tdsesolver.py
!tdsesolver_X.cpp
!tdsesolver_XZ.cpp
!tdsesolver_RZ.cpp
!tdsesolver_XYZ.cpp
!test.cpp
